@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #66CDAA;
    --branco: #FFFFFF;
    --laranja: #008080;
    --azul-degrade: linear-gradient(97.54deg, #7FFFD4 35.49%, #20B2AA 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

body, html {
    background: #F0F8FF
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
